* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    height: 100px;
    background-color: #26b4f4;
    color: #ffffff;
}

.logo {

    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-image: url(logo-pequeño.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.logo img {
    width: 100%;

}

.menu {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.menu li {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 15px;

}

.espacio-form {
    width: 100%;
    background-image: url(blur-hospital.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: row;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.datos {
    margin: auto;
    display: flex;
    flex-direction: column;

}

.datos h1 {
    text-align: center;
}

.datos input {
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
}

.prioridad {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.prioridad div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;

    background-color: rgba(38, 178, 243, 0.3);

    border-radius: 10px;
}

[type="checkbox"] {
    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 30px;
    height: 30px;
    appearance: none;
    border: 2px solid #888;
    transition: background-color 0.3s ease-in-out;
}

[type="checkbox"]:checked {
    background-color: rgba(38, 178, 243, 255);
}

[type="checkbox"]:focus {
    border-color: rgb(80, 67, 250);
}

[type="checkbox"]:disabled {
    background-color: rgb(198, 198, 198);
    background-image: none;
}

.prioridad div label {}

.prioridad div input {
    padding: 10px;

}

.botones {
    padding: 20px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.botones button {
    margin: 10px;
    padding: 10px;
}

table {}

table td {
    padding: 10px;
}


.resultados {
    background-color: rgba(38, 178, 243, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

.espacioLista {}

#listaPac {
    list-style: none;
}

#listaPac li {
    padding: 12px;

}